In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/students-performance-in-exams/StudentsPerformance.csv

In [2]:
data=pd.read_csv("/kaggle/input/students-performance-in-exams/StudentsPerformance.csv")
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
data.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [8]:
len(data)

1000

In [9]:
data.shape

(1000, 8)

In [10]:
data.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [11]:
data["gender"].unique()

array(['female', 'male'], dtype=object)

In [12]:
li=[]
for i in data.columns:
    li.append(data[i].unique())
li

[array(['female', 'male'], dtype=object),
 array(['group B', 'group C', 'group A', 'group D', 'group E'],
       dtype=object),
 array(["bachelor's degree", 'some college', "master's degree",
        "associate's degree", 'high school', 'some high school'],
       dtype=object),
 array(['standard', 'free/reduced'], dtype=object),
 array(['none', 'completed'], dtype=object),
 array([ 72,  69,  90,  47,  76,  71,  88,  40,  64,  38,  58,  65,  78,
         50,  18,  46,  54,  66,  44,  74,  73,  67,  70,  62,  63,  56,
         97,  81,  75,  57,  55,  53,  59,  82,  77,  33,  52,   0,  79,
         39,  45,  60,  61,  41,  49,  30,  80,  42,  27,  43,  68,  85,
         98,  87,  51,  99,  84,  91,  83,  89,  22, 100,  96,  94,  48,
         35,  34,  86,  92,  37,  28,  24,  26,  95,  36,  29,  32,  93,
         19,  23,   8]),
 array([ 72,  90,  95,  57,  78,  83,  43,  64,  60,  54,  52,  81,  53,
         75,  89,  32,  42,  58,  69,  73,  71,  74,  70,  65,  87,  56,
         61,  84,  55,  44,  41,  85,  59,  17,  39,  80,  37,  63,  51,
         49,  26,  68,  45,  47,  86,  34,  79,  66,  67,  91, 100,  76,
         77,  82,  92,  93,  62,  88,  50,  28,  48,  46,  23,  38,  94,
         97,  99,  31,  96,  24,  29,  40]),
 array([ 74,  88,  93,  44,  75,  78,  92,  39,  67,  50,  52,  43,  73,
         70,  58,  86,  28,  46,  61,  63,  53,  80,  72,  55,  65,  38,
         82,  79,  83,  59,  57,  54,  68,  66,  62,  76,  48,  42,  87,
         49,  10,  34,  71,  37,  56,  41,  22,  81,  45,  36,  89,  47,
         90, 100,  64,  98,  51,  40,  84,  69,  33,  60,  85,  91,  77,
         27,  94,  95,  19,  35,  32,  96,  97,  99,  15,  30,  23])]

In [13]:
data.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64